*{
	font-family: 'Lato', sans-serif;
}
body{
	background: #F4F0E2;
}
header{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1000;
	box-shadow: 0 1px 5px #999;
}
#main-header {
	background-color: rgb(123,165,146);
    background-color: rgba(123, 165, 146, 0.95);	
}

#main-logo {
	width: 100%;
	height: 80px;
	padding: 2px 0 0 20px;
	margin: 0;
	background-color: rgb(128,168,149);
}


#main-logo > a > div{
	margin: 10px;
	animation-name: cambiar;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
#main-menu {
	float:right;
	margin-top: 25px;
}
.user{
	margin-top: 30px;
}
#main-menu a {
	color: #aaa;
}

#main-menu a:hover {
	color: #a3d900;
}

#main-menu.nav-pills>li>a{
	color: #f4f0e2;
	font-size: 16px;
}

#main-menu.nav-pills>li.active>a, 
#main-menu.nav-pills>li.active>a:hover, 
#main-menu.nav-pills>li.active>a:focus,
#main-menu.nav-pills>li>a:hover {
	background: none;
}

#main-menu.nav-pills>li.active>a, 
#main-menu.nav-pills>li.active>a:hover, 
#main-menu.nav-pills>li.active>a:focus {
	color: #FFD675;	
}

#main-menu.nav .open>a, 
#main-menu.nav .open>a:hover, 
#main-menu.nav .open>a:focus {
	background: none;
}

#main-seccion > div > div > div > h1{
	font-size: 60px;
	font-weight: bold;
	font-family: 'Bree Serif', serif;
	text-align: center;
}
#main-seccion > div > div > div > h2{
	font-size: 40px;
	font-weight: bold;
	font-family: 'Bree Serif', serif;
	text-align: center;
}
footer{
	background: #3A3329;
	color: white;
}

.social > ul{
	list-style-type: none;
	list-style-position: inside;
}
.social > ul > li{
	float: left;
	margin-right: 1%;
}
#main-seccion{
	margin: 8% 0;
}
.user > .btn-group > .btn-primary{
  color: black;
  background-color: #E9CE7A;
  border-color: #E9CE7A;
}
.user > .btn-group > .btn-primary:focus{
	background: #E9CE7A;
	border-color: #E9CE7A;
}

@keyframes cambiar {
	0% {opacity: 1; width: 50px; height: 60px; background-image: url(../logo/lg.png);}
	10% {opacity: 0.8; width: 50px; height: 60px; background-image: url(../logo/lg.png);}
	20% {opacity: 0.6; width: 50px; height: 60px; background-image: url(../logo/lg.png);}
	30% {opacity: 0.4; width: 50px; height: 60px; background-image: url(../logo/lg.png);}
	40% {opacity: 0.2; width: 50px; height: 60px; background-image: url(../logo/lg.png);}
	50% {opacity: 0; width: 50px; height: 60px; background-image: url(../logo/lg.png);}
	60% {opacity: 0.2; width: 60px; height: 50px; background-image: url(../logo/lg1.png);}
	70% {opacity: 0.4; width: 60px; height: 50px; background-image: url(../logo/lg1.png);}
	80% {opacity: 0.6; width: 60px; height: 50px; background-image: url(../logo/lg1.png);}
	90% {opacity: 0.8; width: 60px; height: 50px; background-image: url(../logo/lg1.png);}
	100% {opacity: 1; width: 60px; height: 50px; background-image: url(../logo/lg1.png);}
}
footer > .container{
	padding: 15px;
}
#unicor{
	width: 50px;
	height: 60px;
	background-image: url(../img/unicor.png);
	background-repeat: no-repeat;
}